
<meta charset="utf-8" />
<title>Parking</title>
<link rel="stylesheet" href="/static/css/bootstrap.css" />
<link rel="stylesheet" href="/static/fontawesome-free-6.3.0-web/css/all.min.css">
<script src="/static/js/jquery-3.3.1.js"></script>
<script src="/static/js/bootstrap.js"></script>
<link rel="stylesheet" href="/static/css/pagination.css" />
