<!DOCTYPE html>
<html>
    <head>
        <%- include('head'); -%>
		<link rel="stylesheet" href="/static/css/home.css" />

	</head>
    <body>
        <header class="header">
            <div class="icon-list">
            </div>
            <ul class="nav justify-content-center list">
                <li class="nav-item"><a class="nav-link" href="/">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="/account">Quản lý tài khoản</a></li>
                <li class="nav-item"><a class="nav-link" href="/card">Quản lý thẻ</a></li>
                <li class="nav-item"><a class="nav-link" href="/car">Quản lý xe ra vào</a></li>
                <li class="nav-item"><a class="nav-link" href="/parking-list">Quản lý bãi xe</a></li>
            </ul >
        </header>
        <div class="content">
            <p class="text">Chào mừng đến với hệ thống bãi giữ xe</p>
        </div>
        <img src="/static/images/logo1.png" alt="" id="logo1">
    </body>
</html>